# Dependencies
/node_modules
/.pnp
.pnp.js
/.yarn
.yarn/*
yarn.lock
package-lock.json

# Build outputs
/.next/
/out/
/build
/dist
.vercel

# Cache y archivos temporales
.cache
*.log
.DS_Store
Thumbs.db
*.swp
*.swo
.temp
.tmp


# Logs y debugging
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# IDE y editores
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.vs/
*.code-workspace

# Testing y coverage
/coverage
.nyc_output

# TypeScript
*.tsbuildinfo
next-env.d.ts
